{% extends "::base.html.twig" %}

{% block title %}Home {{parent()}}{% endblock %}

{% block body %}

    <!-- Begin Carousel -->
    <div class="carousel">
        <div id="carouselHome" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
                <li data-target="#carouselHome" data-slide-to="1"></li>
                <li data-target="#carouselHome" data-slide-to="2"></li>
                <li data-target="#carouselHome" data-slide-to="3"></li>
            </ol>

            <!-- Begin Wrapper for slides -->
            <div class="carousel-inner">

                <!-- Begin Item 1 -->
                <div class="item active">
                    <!-- Item BG -->
                    <div style="background-image:url('{{ asset ('img/backgrounds/slider.jpg ')}}');background-color: #ff7454;" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">
                        <div class="container">
                            <div class="row carousel-content center-vertically-right">
                                <!-- Content -->
                                <div class="fadeInLeft-animated" data-animation="fadeInLeft">
                                    <div class="col-sm-6 thumbnail">
                                        <img src="{{ asset ('img/projects/print1.jpg ')}}" class="img-responsive carousel-image" class="img-thumbnail" width="450px" alt="Responsive Showcase">
                                    </div>
                                </div>
                                <div class="fadeInRight-animated" data-animation="fadeInRight">
                                    <div class="carousel-description col-sm-5  col-sm-offset-1">
                                        <h3 class="heavy text-white"><span class="carousel-title-bgclear">WELCOME TO CBA TRAINING!</span></h3>
                                        <p>CBA Training est un centre international de formation professionnelle et continue des cadres des secteurs public et privé. Le centre propose des formations et services de haute qualité visant à booster la productivité et l’efficacité des apprenants.</p>
                                        <br>
                                        <a href="#" class="button button-glow button-rounded button-primary">Training & Services
                                            &nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span> </a>
                                    </div>
                                </div>                                    
                            </div><!-- /content container -->
                        </div><!-- /container -->
                    </div><!-- /bg div -->
                </div><!-- /item -->
                <!-- End Item 1 -->

                <!-- Begin Item 2 -->
                <div class="item">
                    <!-- Item BG -->
                    <div style="background-image:url('{{ asset ('img/backgrounds/slider8.jpg ')}}');background-color: #ff7454;" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">
                        <div class="container">
                            <div class="row carousel-content center-vertically-left">
                                <!-- Content -->
                                <div class="fadeInRight-animated" data-animation="fadeInRight">
                                    <div class="carousel-description mt10 col-sm-5">
                                        <h4 class="heavy text-white"><span class="carousel-title-bg">FORMATIONS A LA CARTE</span></h4>
                                        <p>CBA Training analyse votre besoin, développe et déploie une solution adaptée à la réalité de votre organisation. CBA Training propose des modalités d’apprentissage variée (présentiel ou à distance), spécialement préparées avec vous, pour vous. </p>
                                        <br>
                                        <a href="#" class="button button-glow button-rounded button-primary">Training & Services
                                            &nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span> </a>
                                    </div>
                                </div>
                                <!-- Img -->
                                <div class="fadeInLeft-animated" data-animation="fadeInLeft">
                                    <div class="col-sm-6 hidden-xs thumbnail col-sm-offset-1">
                                        <img src="{{ asset ('img/projects/menu.jpg ')}}" class="img-responsive carousel-image" class="img-thumbnail" width="450px" alt="Responsive Showcase">
                                    </div>
                                </div>                                
                            </div><!-- /content container -->
                        </div><!-- /container -->
                    </div><!-- /bg div -->
                </div><!-- /item -->
                <!-- End Item 2 -->

                <!-- Begin Item 4  -->
                <div class="item">
                    <!-- Item BG -->
                    <div style="background-image:url('{{ asset ('img/backgrounds/slider2.jpg ')}}');background-color: #ff7454;" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">
                        <div class="container">
                            <div class="row carousel-content center-vertically-right">
                                <!-- Content -->
                                <div class="fadeInLeft-animated" data-animation="fadeInRight">
                                    <div class="carousel-description col-sm-5">
                                        <h4 class="heavy text-white"><span class="carousel-title-bgclear">CONTACT US</span></h4>                                        
                                        <p>Cras semper augue at eros tempus lobortis. Nulla rhoncus nunc lacus, a pellentesque libero sagittis quis. Fusce mauris mauris, scelerisque sed aliquam non, mattis non nibh. </p>
                                        <div>
                                            <a class="btn btn-social-icon btn-twitter btn-lg">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="btn btn-social-icon btn-instagram btn-lg">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                            <a class="btn btn-social-icon btn-facebook btn-lg">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="btn btn-social-icon btn-linkedin btn-lg">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                            <a class="btn btn-social-icon btn-google-plus btn-lg">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </div>
                                        <br>
                                        <a href="#" class="button button-glow button-rounded button-primary">
                                            Laissez nous un message  &nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="fadeOutRight-animated" data-animation="fadeInLeft">
                                    <div class="col-sm-6 col-sm-offset-1 thumbnail">
                                        <img src="{{ asset ('img/projects/help.png ')}}" class="img-responsive carousel-image" class="img-thumbnail" alt="Responsive Showcase">
                                    </div>
                                </div>
                            </div><!-- /content container -->
                        </div><!-- /container -->
                    </div><!-- /bg div -->
                </div><!-- /item -->
                <!-- End Item 4 -->

            </div><!-- /carousel inner -->
            <!-- End Wrapper for slides -->

            <!-- Controls -->
            <a class="left carousel-control" href="#carouselHome" role="button" data-slide="prev">
                <span class="ion-ios7-arrow-left carousel-arrow-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carouselHome" role="button" data-slide="next">
                <span class="ion-ios7-arrow-right carousel-arrow-right" aria-hidden="true"></span>
            </a>

        </div><!-- /carousel id div -->
    </div><!-- /carousel div -->
    <!-- End Carousel -->

    <!-- Begin Recent Work + Clients -->
    <section class="pt40 mb40 border-top">
        <div class="container">		
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading mb30">
                        <h4><span class="ion-android-social-user mr15"></span>Nos prochaines formations</h4>
                        <div class="owl-controls">
                            <div id="customNav" class="owl-nav"></div>
                        </div>
                    </div>
                    <div id="owl-carousel-thumb" class="owl-carousel">
                        <div>
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="thumbnail-caption-holder">
                                        <h4 class="text-white">Comment réussir son audit</h4>
                                        <a href="#" class="btn btn-rw btn-primary"><span class="ion-android-search"></span> View</a>
                                    </div>
                                </div>
                                <img src="{{ asset ('img/backgrounds/stock1.jpg')}}" alt="...">
                            </div>
                        </div>
                        <div>
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="thumbnail-caption-holder">
                                        <h4 class="text-white">Risk Management de nos jours</h4>
                                        <a href="#" class="btn btn-rw btn-primary"><span class="ion-android-search"></span> View</a>
                                    </div>
                                </div>
                                <img src="{{ asset ('img/backgrounds/stock2.jpg')}}" alt="...">
                            </div>
                        </div>
                        <div>
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="thumbnail-caption-holder">
                                        <h4 class="text-white">Management en Afrique, quels défis?</h4>
                                        <a href="#" class="btn btn-rw btn-primary"><span class="ion-android-search"></span> View</a>
                                    </div>
                                </div>
                                <img src="{{ asset ('img/backgrounds/stock3.jpg')}}" alt="...">
                            </div>
                        </div>
                        <div>
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="thumbnail-caption-holder">
                                        <h4 class="text-white">Vente et négociations commerciales</h4>
                                        <a href="#" class="btn btn-rw btn-primary"><span class="ion-android-search"></span> View</a>
                                    </div>
                                </div>
                                <img src="{{ asset ('img/backgrounds/stock4.jpg')}}" alt="...">
                            </div>
                        </div>
                        <div>
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="thumbnail-caption-holder">
                                        <h4 class="text-white">Je ne suis plus inspiré</h4>
                                        <a href="#" class="btn btn-rw btn-primary"><span class="ion-android-search"></span> View</a>
                                    </div>
                                </div>
                                <img src="{{ asset ('img/backgrounds/stock5.jpg')}}" alt="...">
                            </div>
                        </div>
                        <div>
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="thumbnail-caption-holder">
                                        <h4 class="text-white">On est bien la non?</h4>
                                        <a href="#" class="btn btn-rw btn-primary"><span class="ion-android-search"></span> View</a>
                                    </div>
                                </div>
                                <img src="{{ asset ('img/backgrounds/stock6.jpg')}}" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /container -->
    </section><!-- /section -->
    <!-- End Recent Work -->

    <!-- Begin Latest News -->
    <section class="pt40 mb40 border-top">
        <div class="container">		
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading mb30">
                        <h4><span class="ion-android-social-user mr15"></span>Latests posts</h4>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class="col-sm-4">
                    <div class="post-heading"><h3>La finance aujourd'hui <small>5 Jan, 2015</small></h3> </div>
                    <p>
                        <img class="imgpost"  src="{{ asset ('img/team/rigo.jpg')}}" class="thumbnail">
                        Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.
                        Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.<small><em><a href="#">Lire la suite</a></em></small>
                    </p>

                </div>
                <div class="col-sm-4">
                    <div class="post-heading"><h3>Le cloud computing pour les finances <small>10 Fev, 2015</small></h3> </div>
                    <p>
                        <img class="imgpost"  src="{{ asset ('img/backgrounds/stock1.jpg')}}" class="thumbnail">
                        Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.
                        Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.<small><em><a href="#">Lire la suite</a></em></small>
                    </p>

                </div>
                <div class="col-sm-4">
                    <div class="post-heading"><h3> Le ledemain du clash économique <small>11 Mar, 2015</small></h3> </div>
                    <p>
                        <img class="imgpost"  src="{{ asset ('img/backgrounds/stock2.jpg')}}" class="thumbnail">
                        Consec tetur adipiscing elit. Integer a elit turpis.Lorem ipsum dolor sit amet. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.
                        Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.<small><em><a href="#">Lire la suite</a></em></small>
                    </p>

                </div>
            </div>
        </div><!-- /container -->
    </section><!-- /section -->
    <!-- End Latest News -->


    <!-- Begin Skills -->
    <div class="pt40 mb40 border-top">
        <div class="container">
            <!-- Title -->
            <div class="row">
                <div class="col-sm-12">
                    <p class="lead text-center">Our <b><mark>Services</mark></b><br></p>
                    <hr style="width:200px">
                </div>
            </div>
            <div class="row">
                <!-- Content 1 -->
                <div class="col-sm-4" data-sr="enter left over 1s">
                    <h4><span class="ion-beaker bordered-icon-sm mr15"></span> Fraud Risk Assessment</h4>
                    <p class="no-margin">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.</p>
                </div>
                <!-- Content 2 -->
                <div class="col-sm-4 mt20-xs" data-sr="enter top over 1s">
                    <h4><span class="ion-beer bordered-icon-sm mr15"></span> Internal Audit Capabaility Assessment</h4>
                    <p class="no-margin">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.</p>
                </div>
                <!-- Content 3 -->
                <div class="col-sm-4 mt20-xs" data-sr="enter right over 1s">
                    <h4><span class="ion-home bordered-icon-sm mr15"></span> Analyse des performances commerciales</h4>
                    <p class="no-margin">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.</p>
                </div>
            </div>
            <div class="row mt20">
                <!-- Content 4 -->
                <div class="col-sm-4" data-sr="enter left over 1s">
                    <h4><span class="ion-android-camera bordered-icon-sm mr15"></span> Evaluation et design des systemes de motivation des commerciaux</h4>
                    <p class="no-margin">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.</p>
                </div>
                <!-- Content 5 -->
                <div class="col-sm-4 mt20-xs" data-sr="enter bottom over 1s">
                    <h4><span class="ion-android-earth bordered-icon-sm mr15"></span> Onsite or Virtual Coaching</h4>
                    <p class="no-margin">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.</p>
                </div>
                <!-- Content 6 -->
                <div class="col-sm-4 mt20-xs" data-sr="enter right over 1s">
                    <h4><span class="ion-android-lightbulb bordered-icon-sm mr15"></span> Corporate Survey (Sondage)</h4>
                    <p class="no-margin">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.</p>
                </div>
            </div>
        </div><!-- /container -->
    </div><!-- /cta -->
    <!-- End Skills -->

    <!-- Begin Begin Carousel + Content -->
    <div class="background-light-grey pt40 pb40">
        <div class="container">
            <div class="row">
                <!-- Begin Carousel -->
                <div class="col-sm-4" data-sr="enter left over .9s">
                    <div id="carouselHome2" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carouselHome2" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselHome2" data-slide-to="1"></li>
                            <li data-target="#carouselHome2" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div style="height:260px;"><img src="{{ asset ('img/team/rigo.jpg')}}" class="img-thumbnail" alt="Logo"> </div>
                            </div>
                            <div class="item">
                                <div style="height:260px;"><img src="{{ asset ('img/team/alex.jpg')}}" class="img-thumbnail" alt="Logo"> </div>
                            </div>
                            <div class="item">
                                <div style="height:260px;"><img src="{{ asset ('img/team/brice.jpg')}}" class="img-thumbnail" alt="Logo"> </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carouselHome2" role="button" data-slide="prev">
                            <span class="ion-ios7-arrow-left carousel-arrow-left" aria-hidden="true"></span>
                        </a>
                        <a class="right carousel-control" href="#carouselHome2" role="button" data-slide="next">
                            <span class="ion-ios7-arrow-right carousel-arrow-right" aria-hidden="true"></span>
                        </a>
                    </div>
                </div><!-- /column -->
                <!-- End Carousel -->

                <!-- Content Inside -->
                <div class="col-sm-8">
                    <div class="heading mb20 mt30-xs"><h4><span class="ion-beaker mr15"></span>Our Team</h4></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu risus libero. Donec et lorem lacinia, <a class="tooltip-active" data-toggle="tooltip" data-placement="top" title="Tooltip on top">adipiscing</a> nunc nec, hendrerit sapien. Sed in scelerisque tortor. Praesent porttitor odio non ullamcorper gravida.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu risus libero. Donec et lorem lacinisent porttitor odio non ullamcorper gravida.</p>
                    <!-- List -->
                    <ul class="list-arrow-2-color no-margin">
                        <li><small>Etiam mollis pharetra adipiscing. Etiam porta in sem vitae suscipit. </small></li>
                        <li><small>Consectetur adipiscing elit. Maecenas tempsam suscipit sagittis vestibulum.</small></li>
                        <li><small>Nulla volutpat aliquam velit</small></li>
                        <li><small>Faucibus porta lacus fringilla vel</small></li>
                    </ul>  
                </div><!-- /column -->
                <!-- End Content Inside -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /content -->
    <!-- End Begin Carousel + Content -->
{% endblock %}
