<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Brice LEBIKA" />
        <meta name="description" content="Formation | Audit, Risque, Comptabilité, Fraude, Secteur public, Management de projet, Ventes et Négociations Commerciales, Audit interne, Risk Management">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <title>{% block title %} - CBA TRAINNING{% endblock %}</title>

        <!-- start: CSS -->
        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">       
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-social.css') }}">
            <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery.snippet.css') }}">
            <link rel="stylesheet" href="{{ asset('css/buttons.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style-switcher.css.css') }}">
            <link rel="stylesheet" href="{{ asset('css/colors/or.css') }}">

            <!-- Icon Fonts -->
            <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
        {% endblock %}        
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
        <!-- end: CSS -->

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <!-- Begin Header -->
            <header>
                <!-- Begin Top Bar -->
                <div class="top-bar top-bar-dark">
                    <div class="container container-header">
                        <!-- Address and Phone -->
                        <div class="col-sm-7 hidden-xs contact-info">
                            <span class="ion-android-mail default_color"></span> 10 on affichera l'adresse, Washington 45245 USA  
                            <span class="glyphicon glyphicon-phone"></span> (001) 1702983921
                        </div>
                        <!-- Social Buttons -->
                        <div class="col-sm-5 text-right topmenu-holder">
                            <ul class="topbar-list list-inline">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li>Bonjour <b> {{app.user.firstname}}</b></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-remove-sign"></span> Logout</a></li>
                                    {% else %}
                                    <li><a data-toggle="modal" data-target="#login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                                    <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-floppy-disk"></span> Register</a></li>
                                    {% endif %}                               
                                <li>						
                                    <a class="btn btn-social-icon btn-rw btn-primary">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a class="btn btn-social-icon btn-rw btn-primary">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                    <a class="btn btn-social-icon btn-rw btn-primary">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!--/container header -->   
                </div><!--/top bar -->   
                <!-- End Top Bar -->

                <!-- Login -->
                <div class="modal fade" id="login">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="loginLabel">Login</h4>
                            </div>
                            <div class="modal-body">
                                <form action="{{ path('fos_user_security_check') }}" method="post">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="ion-android-mail default_color" style="font-size:9px;"></span></div>
                                            <input class="form-control" type="email" placeholder="Enter email" name="_username" id="username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="ion-ios7-locked default_color"></span></div>
                                            <input type="password" class="form-control" placeholder="Password" name="_password" id="password">
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>   
                                    <hr class="mb20 mt15">
                                    <button type="submit" class="button button-glow button-rounded button-primary">Submit</button> &nbsp;&nbsp;&nbsp;<small><a href="{{ path('fos_user_resetting_request')}}">Forgot your password?</a></small>
                                </form><!-- /form -->
                            </div>
                        </div><!-- /modal content -->
                    </div><!-- /modal dialog -->
                </div><!-- /modal holder -->
                <!-- End Login -->

                <!-- Begin Navigation -->
                <div class="navbar">
                    <div class="container container-header">
                        <div class="navbar-header">
                            <!-- Brand -->
                            <a href="{{ path('cba_home_homepage') }}" class="navbar-brand laterals">
                                <img src="{{ asset ('img/logo/cba_logo.png ')}}" id="logo_brand" class="img-thumbnail" alt="Logo" width="170px"> 
                            </a>
                            <!-- Mobile Navigation -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div><!-- /navbar header -->   

                        <!-- Main Navigation -->
                        <nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="active" href="pages-contact-2.html">Home</a></li>
                                <li class="dropdown">
                                    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true">About Us<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url('sonata_news_view', { 'permalink': '2015/9/6/our-history' }) }}">Our History</a></li>
                                        <li><a href="{{ url('sonata_news_view', { 'permalink': '2015/9/6/our-mission' }) }}">Our Mission</a></li>
                                        <li><a href="{{ url('sonata_news_view', { 'permalink': '2015/9/8/our-references' }) }}">Our References</a></li>
                                        <li><a href="{{ url('sonata_news_view', { 'permalink': '2015/9/8/our-team' }) }}">Our Team</a></li>
                                        <li><a href="{{ url('sonata_news_view', { 'permalink': '2015/9/8/join-us' }) }}">Join Us</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="300" data-close-others="true">Trainning<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="trigger">Risque</a>
                                            <ul class="dropdown-menu">
                                                <li><a tabindex="-1" href="l">Audit Interne</a></li>
                                                <li><a tabindex="-1" href="l">Fraude</a></li>
                                                <li><a tabindex="-1" href="l">Risk Management</a></li>
                                            </ul>
                                        </li>
                                        <li><a tabindex="-1" href="l">Secteur Public</a></li>
                                        <li><a tabindex="-1" href="l">Management de projet</a></li>
                                        <li><a tabindex="-1" href="l">Ventes et négociations commerciales</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="300" data-close-others="true">Services<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="l">Fraud Risk Assessment</a></li>
                                        <li><a tabindex="-1" href="l">Internal Audit Capabaility Assessment</a></li>
                                        <li><a tabindex="-1" href="l">Analyse des performances commerciales</a></li>
                                        <li><a tabindex="-1" href="l">Evaluation et design des systemes de motivation des commerciaux</a></li>
                                        <li><a tabindex="-1" href="l">Onsite or Virtual Coaching</a></li>
                                        <li><a tabindex="-1" href="l">Corporate Survey (Sondage)</a></li>                                        
                                    </ul>
                                </li>                                
                                <li><a href="pages-contact-2.html">Témoignages</a></li>
                                <li><a href="{{ path('sonata_news_archive') }}">Blog</a></li>
                                <li><a href="pages-contact-2.html">Contact</a></li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle dropdown-form-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-user">
                                        <li id="dropdownForm">
                                            <div class="dropdown-form">
                                                <form class="form-default form-inline p15">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control search-input" placeholder="Search...">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-rw btn-primary search-btn" type="button">Go!</button>
                                                        </span>
                                                    </div><!-- /input group -->  
                                                </form><!-- /searh form -->  
                                            </div><!-- /dropdown form -->  
                                        </li><!-- /dropdownForm list item -->  
                                    </ul><!-- /search dropdown -->  
                                </li><!-- /search navbar list item -->  
                            </ul><!-- /navbar right -->  
                        </nav><!-- /nav -->  

                    </div><!-- /container header -->   
                </div><!-- /navbar -->   
                <!-- End Navigation -->

            </header><!-- /header -->
            <!-- End Header -->

        {% endblock %}

    {% block body %}{% endblock %}


    {% block footer %}
        <!-- Begin Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-sm-3">
                        <div class="heading-footer"><h4>About</h4></div>
                        <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.</p>
                        <a href="features.html" class="btn btn-primary btn-rw mt10">
                            Read more
                        </a>
                    </div>

                    <!-- Social -->
                    <div class="col-sm-3 mg25-xs">
                        <div class="heading-footer"><h4>Social Networks</h4></div>
                        <a class="btn btn-social-icon btn-twitter btn-lg">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-social-icon btn-instagram btn-lg">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="btn btn-social-icon btn-facebook btn-lg">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-social-icon btn-vimeo btn-lg">
                            <i class="fa fa-vimeo-square"></i>
                        </a>
                        <a class="btn btn-social-icon btn-linkedin btn-lg">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="btn btn-social-icon btn-google-plus btn-lg">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="btn btn-social-icon btn-adn btn-lg">
                            <i class="fa fa-adn"></i>
                        </a>
                        <a class="btn btn-social-icon btn-bitbucket btn-lg">
                            <i class="fa fa-bitbucket"></i>
                        </a>
                        <a class="btn btn-social-icon btn-tumblr btn-lg">
                            <i class="fa fa-tumblr"></i>
                        </a>
                        <a class="btn btn-social-icon btn-flickr btn-lg">
                            <i class="fa fa-flickr"></i>
                        </a>
                    </div>
                    <!-- Contact -->
                    <div class="col-sm-3 mg25-xs">
                        <div class="heading-footer"><h4>Contact us</h4></div>
                        <p><span class="ion-home footer-info-icons"></span><small class="address">228 Park Ave S New York, NY 10003</small></p>
                        <p><span class="ion-email footer-info-icons"></span><small class="address"><a href="mailto:contact@cba.academy">contact@cba.academy</a></small></p>
                        <p><span class="ion-ios7-telephone footer-info-icons"></span><small class="address">+11192386513 / +237699878952</small></p>
                    </div>
                    <!-- Recent Work -->
                    <div class="col-sm-3 hidden-xs">
                        <div class="heading-footer"><h4>Take A Quizz</h4></div>
                        <a href="#" class="button button-glow button-rounded button-primary btn-block">I'm Ready</a>
                    </div>
                </div><!-- /row -->
                <!-- Copyright -->
                <div class="row">
                    <hr class="dark-hr">
                    <div class="col-sm-11 col-xs-10">
                        <p class="copyright">© 2015 CBA TRAINNING. All rights reserved. Designed by <b>Brice LEBIKA</b>.</p>
                    </div>
                    <div class="col-sm-1 col-xs-2 text-right">
                        <a href="#" class="scroll-top"><div class="footer-scrolltop-holder"><span class="ion-ios7-arrow-up footer-scrolltop"></span></div></a>
                    </div>
                </div><!-- /row -->
            </div><!-- /container -->
        </footer><!-- /footer -->
        <!-- End Footer --> 

    {% endblock %}

    {% block javascripts %}    
        <script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/hover-dropdown.js') }}"></script>
        <script src="{{ asset('js/owl.carousel.js') }}"></script>
        <script src="{{ asset('js/jquery.mixitup.min.js') }}"></script>
        <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('js/scrollReveal.js') }}"></script>
        <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('js/jquery.fitvids.js') }}"></script>
        <script src="{{ asset('js/style-switcher.js') }}"></script>
        <script src="{{ asset('js/activate-snippet.js') }}"></script>
        <script src="{{ asset('js/skrollr.min.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}

</body>
</html>
